<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FrameworkDemo Test Suite">
  <test thread-count="5" name="FrameworkDemo Test">
    <classes>
      <class name="testcases.FirstTestcase"/>
      <class name="base.TestBase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
